<section class="mainbar" data-ng-controller="newOrder as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{vm.order.customer || 'New Order'}}">
                    </div>
                    <div class="app-command-bar">
                        <button class="btn btn-success navbar-btn"
                                ng-disabled="vm.isSaveDisabled()"
                                ng-click="vm.save()"
                                title="Save Order">
                            <i class="icon-save"></i> Save
                        </button>&nbsp;&nbsp;
                        <span class="alert alert-danger" ng-if="vm.changesCount()">
                            Unsaved changes: {{vm.changesCount()}}
                        </span>
                    </div>
                    <div class="widget-content user">
                        Customer name: <input ng-model="vm.order.customer" focus-me="focusInput" placeholder="Customer Name" />
                        Order date: {{ vm.order.orderDate | date: 'medium' }}
                        <hr />
                        <div class="col-md-6">
                            <div ng-repeat="item in vm.orderDetails">
                                Title: {{ item.book.name }}  Price: {{ item.book.price | currency: "USD$" }}
                                Quantity: <input ng-model="item.quantity" />
                                Net: {{ item.book.price * item.quantity |currency:"USD$" }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div ng-repeat="book in vm.books" ng-click="vm.addBookToOrder(book)">
                                Title: {{ book.name }}
                                Author {{ book.author }}
                                Price {{ book.price | currency:"USD$" }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

