
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Chapters</h1>

<div class="row content">
  <div class="col-md-6" ng-app="chapters" ng-controller="chapterCtrl">
    <ul>
      <li ng-repeat="x in chapters | orderBy:'Number'">
        {{ x.Title + ": " + x.Summary }}
      </li>
    </ul>
  </div>
</div>

