<!-- Page to allow a registered user to add, edit, and delete lessons -->


<form class='form'>
  <h4>Add a lesson</h4>


  <div class="form-group">
    <label form="username">Lesson</label>
    <input type="text" ng-model='lesson' class="form-control" id="lesson" placeholder="Lesson Number" required>
    <label form="username">Title</label>
    <input type="text" ng-model='title' class="form-control" id="lesson" placeholder="Title" required>
    <label form="username">Summary</label>
    <input type="text" ng-model='summary' class="form-control" id="lesson" placeholder="Summary" required>
  </div>
  <button ng-click='addBookData()' type="submit" class="btn btn-default">Submit</button>
</form>

</br></br>

<h4> &nbsp; Get Lessons</br></h4><p>Click on a lesson name to edit</p>
<button ng-click='getBookData()' type="submit" class="btn btn-default">Get them now!</button></br></br>

<div>
  <ul ng-repeat='user in userData'>


    <!-- <h2 style="text-align:center">Lessons</h2> -->
    <table class="table">
      <thead>
        <tr>
          <th>Lesson</th>
          <th>Title</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody id="all-lessons">
        <a href='#/user' ng-click='getSingleUserId(user)'><li>{{user.title}}</li></a>
        <td>{{user.lesson}}</td>
        <td>{{user.title}}</td>
        <td>{{user.summary}}</td>
      </tbody>
    </table>

