#primary-nav {
  background-color: $main-love-color;
}

.title {
  text-decoration: none;
  font-family: fantasy;
  font: $main-title-font;
  font-size: $main-title-font-size;
  vertical-align: middle;
  color: $lightest-love-color;
  font-weight: 500;
}
