// BUTTON STYLES
// -------------

.button {
  display: inline-block;
  margin: 0;
  padding: 8px 12px;
  cursor: pointer;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  white-space: nowrap;
  color: $lightest-love-color;
  background: $agape-love-color;
  border: 1px solid $sand-of-love-color;
  border-radius: 3px;
  appearance: none;

  &:hover,
  &:focus {
    text-decoration: none;
    color: darken($lightest-love-color, 10%);
    background-color: darken($agape-love-color, 10%);
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
  }

}

// Pseudo button
// -------------
// Use the same padding as a default button,
// for use in situations where a cancel link
// sits next to a button.

.button-pseudo {
  display: inline-block;
  padding: 8px 0;
  line-height: normal;
  vertical-align: middle;
  background: transparent;
  border: 0;

  .button + & {
    margin-left: $default-whitespace;
  }
}
