// FORM STYLES
// -----------

// Horizontal form

.form-horizontal {
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select {
    margin-right: $condensed-whitespace;
  }
}

// Vertical form

.form-vertical {
  label {
    display: block;
    margin-bottom: em(5px);
  }

  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  textarea,
  select {
    display: block;
    margin-bottom: $default-whitespace;
  }
}

// Field pair form

.form-pair {
  &.group {
    margin-bottom: $default-whitespace;
    display: flex;
    flex-wrap: wrap;
  }

  label {
    margin-bottom: em(5px);
    flex: 0 0 em(120px);
    margin-right: em(10px);;
  }

  input {
    flex: 1 1 em(192px);
  }
}

.form-field {
  margin-bottom: $default-whitespace;
}

// Checkbox and radio buttons

.input-checkbox,
.input-radio {
  padding-left: $default-whitespace;

  input[type="checkbox"],
  input[type="radio"]  {
    float: left;
    margin: 5px 0 0 (-$default-whitespace);
  }
}

.fieldset {
  margin: 0 0 10px 0;
  padding: 10px 20px;
  background-color: $sea-of-love-color;
  border: 0;
  box-shadow: $lightest-love-color 0 0 8px;

  label {
    font-size: 1.2em;
    display: block;
    margin-bottom: .25em;
  }


  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0 0 20px 0;
      padding: 0;

      &.required label {
        font-weight: bold;
      }
    }
  }

  input,
  label {
    display: block;
  }

  input,
  textarea {
    font-size:     16px;
    padding:       10px;
    border-radius: 6px;
    box-shadow:    0px;
    border: 1px solid $sand-of-love-color;
  }

  input[type="checkbox"] {
    width: 24px;
    height: 24px;
    float: left;
  }

  &.fields_with_errors {
    display: inline;
    label {
      color: $errors-text-color;
    }
    input, textarea, select {
      background: $errors-background-color;
    }
  }

  p {
    input {
      display: inline-block;
    }
    a.button {
      padding: 10px 15px;
    }
  }
}
