// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hero {
  background-color: $sea-of-love-color;
  background-image: image-url("engaged_hero.jpg");
  background-repeat: no-repeat;
}
