<div class="hero">
  <p>
    New 12-week course for Engaged Couples
  </p>
</div>
<div class="list">
  <div>
    <% @lessons.each do |lesson| %>
      <div class="row fieldset">
        <div class="col-12 form-vertical">
          <p>Chapter: <%= lesson.chapter %></p>
          <p>Title: <%= lesson.title %></p>
          <p>Lesson: <%= lesson.summary %></p>
        </div>
      </div>
    <% end %>
  </div>
  <nav>
    <ul>
      <li class="create-movie">
        <%= link_to 'Add New Lesson', new_lesson_path, class: 'button' %>
      </li>
    </ul>
  </nav>

</div>
