<div class="hero">
  <p>
    New 12-week course for Engaged Couples
  </p>
</div>
<div class="list">
  <div class="list">
    <% @lessons.each do |lesson| %>
      <div class="row highlight">
        <div class="col-12 form-vertical">
          <p>Chapter: <%= lesson.chapter %></p>
          <p>Title: <%= lesson.title %></p>
          <p>Lesson: <%= lesson.summary %></p>
        </div>
      </div>
    <% end %>
  </div>

</div>
