// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
}

#main_header {
    background-color:#1B4D5A;
    position: relative;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.center {
    text-align: center;
}

#site_navbar {
  bottom: 0;
}