<div class="jumbotron" id="main_header">
    <%= image_tag "fotf_logo.PNG", :class => 'img-responsive'%>
    <nav id="site_navbar">
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Overview</a>
            </li>
            <li>
                <a href="/meet">Meet the Authors</a>
            </li>
        </ul>
    </nav>
</div>