<div class="row no-gutters" id="form">
        <div class="form-group col-xs-5 col-md-3">
            <input type="text" class="form-control" placeholder="Username" id="username">
        </div>
        <div class="form-group col-xs-5 col-md-3">
            <input type="text" class="form-control" placeholder="Password" id="password">
        </div>
        <div class="form-group col-xs-2 col-md-3">
            <button class="btn" id="login">Login</button>
        </div>
    </div>