<form class="form-inline" role="form" id="login_form">
  <div class="form-group"><input type="text" class="form-control" placeholder="Username" id="username"></div><div class="form-group"><input type="password" class="form-control" placeholder="Password" id="password"></div><button type="submit" class="btn btn-default" id="login">Login</button><button class="btn btn-default" id="register">Register</button>
</form>