<div id="main_header">
  <div class="row">
      <div class="col-xs-12 col-md-12 col-lg-12">
          <%= image_tag "fotf_logo_burned.png", :class => 'img-responsive' %>
      </div>
  </div>
</div>
  

<div>
  <p>wordss</p>
</div>