<div class="row no-gutters" id="form">
    <div class="form-group col-xs-5 col-md-5">
        <input type="text" class="form-control" placeholder="Username" id="username">
    </div>
    <div class="form-group col-xs-5 col-md-5">
        <input type="text" class="form-control" placeholder="Password" id="password">
    </div>
    <div class="form-group col-xs-2 col-md-2">
        <button class="btn" id="login">Login</button>
    </div>
</div>
<div id="main_header" class="jumbotron">
    <%= image_tag "fotf_logo.PNG", :class => 'img-responsive'%><h2><small><em>Helping families thrive</em></small></h2>
</div>
  

<div>
  <p>wordss</p>
</div>