<div id="entire_page">
    <div class="row no-gutters" id="form">
        <div class="form-group col-xs-5 col-md-3">
            <input type="text" class="form-control" placeholder="Username" id="username">
        </div>
        <div class="form-group col-xs-5 col-md-3">
            <input type="text" class="form-control" placeholder="Password" id="password">
        </div>
        <div class="form-group col-xs-2 col-md-3">
            <button class="btn" id="login">Login</button>
        </div>
    </div>
    <div class="jumbotron" id="main_header">
        <%= image_tag "fotf_logo.PNG", :class => 'img-responsive'%>
        <nav id="site_navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Overview</a>
                </li>
                <li>
                    <a href="/">Again</a>
                </li>
            </ul>
        </nav>
    </div>
  
    <div>
      <h3 class="center">Are you ready to get married? <em>Overview of Ready to Wed.</em></h3>
    </div>
    
    <!-- BOOK SUMMARY! -->
    <div class="container" style="width:100%;">
        <div class="row">
            <%= image_tag "ready_to_wed.jpg", :class => 'img-responsive col-xs-4', :style => "width:30%; float:left;"%>
            <table class="table col-xs-8" style="width:70%; float:right;">
                <thead>
                    <tr>
                        <th>Chapter</th>
                        <th>Summary</th>
                    </tr>
                </thead>
                <tbody>
                    <% @chapters.each do |chapter| %>
                        <tr>
                            <td><%= chapter.title %></td>
                            <td><%= chapter.summary %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>