<form class="form-inline" role="form" id="login_form">
  <div class="form-group"><input type="text" class="form-control" placeholder="Username" id="username"></div><div class="form-group"><input type="password" class="form-control" placeholder="Password" id="password"></div><button type="submit" class="btn btn-default" id="login">Login</button><a href="/users/new">Register</a>
</form>
<% if @user != nil %>
	<p>Welcome <%= @user.name %>!</p>
	<a href="/users/signout">Sign out</a>
<% end %>