.wrap{
  width: 100%;
}

body > .wrap > header{
  background-image: url('/Content/images/wedding-couple.jpg');
  background-position: center center;
  height: 200px;
  padding: 20px 200px; 
  overflow: hidden;
  text-align: center;
  width: 100%
}

body > .wrap > header h2 {
  font-size: 60px;
}



