<footer class="footer l-container">
  <div class="txt-center">
    <p>
      Copyright &copy; 2016
      <%= link_to "Focus on the Family", 'http://focusonthefamily.com' %>
    </p>
    <p>
      For hiring purposes only.
    </p>
  </div>
</footer>
