<header class="header" role="banner">
  <div id="primary-nav">
    <div class="row">
      <%= link_to "Ready To Wed", root_path, class: "title pls pts l-left"%>
      <nav>
        <p class="l-right prs">
          <%= link_to 'Sign Up', signup_path, class: "button" %>
          <%= link_to 'Sign In', new_session_path, class: "button" %>
        </p>
      </nav>
    </div>
  </div>
</header>
